    body{
    background-image:url("img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-heading{
    color:white;
    text-align:center;
    margin:1%;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 5px;
    font-size:40px;
}

.login-box{
    padding:2%;
}

.form-control{
    background:transparent !important;
}

.login-box-caption{
    color:white;
}

.login-form ::placeholder{
    color:rgba(255, 255, 255, 0.849) !important;
    font-family: 'Arapey', serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size:20px;
    opacity: 1; /* Firefox */
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.849) !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.849) !important;
  }
.login-form{
    margin-top:30% !important;
}

.login-form input[type="text"],.login-form input[type="password"] {
    outline: none;
    font-size: 1.1em;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: none;
    border-bottom: 4px solid #eee;
    color: white;
    font-weight: 600;
}

.login-box-caption{
    font-family: 'Megrim', cursive;
    font-size:20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:30px;
    margin-bottom:10%;
    text-align: center;
    border-bottom:1px solid white;
    padding-bottom: 3px
    
}

.btn{
    border-radius:10% !important;
    font-size:20px;
    display:block;
    margin: 0 auto;
    font-family: 'Megrim', cursive;
    color:white;
    
   
}

.btn:hover{
    background-color:black;
    color:white;
}

.login-button-box{
    background:rgba(255, 255, 255, 0.336);
    padding:2%;
}

a{
    font-family: 'Times New Roman', Times, serif;
    color:skyblue !important;
}

.modal-header{
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    
}

.staff-login-form input[type="text"],.staff-login-form input[type="password"] {
    outline: none;
    font-size: 1.1em;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background: none;
    border-bottom: 4px solid #eee;
    color: black;
    font-weight: 600;
}

.staff-login-form ::placeholder{
    color:black !important;
}

.staff-login-form{
    max-width: 50%;
    margin:auto;

}

.modal-content{
    background-color:rgba(255, 255, 255, 0.897);

}
