/* StyleSheet for hodDashboard.html */

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f5f6fa;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div#mainDiv {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div#mainDiv {margin-left: 0;}

    .space-logo-nav-links{
        margin-bottom: 0;
    }

    .leave2live-logo{
        float: right;
        margin-top: 2%;
        
       
    }
    .space-logo-nav-links{
        margin-bottom: 30% !important;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    .leave2live-logo{
        width: 100%;
        height: 40%;
    }

    .space-logo-nav-links{
        margin-bottom: 60% !important;
    }
   
}
.space-logo-nav-links{
    margin-bottom: 70%;
}

/* LeaveOD section */

#leaveod-section{
    margin: 2%;
}

#leaveod-section h2{
    text-align: center;
    background-color:#6c5ce74d;
    padding: 2%;
}

@media screen and (max-width: 400px) {
    #leaveod-section h2{
        font-size: 30px !important;
    }
}